<div class="row" *ngIf="newTicket">
  <div class="col-lg-3 pl-1 pr-1">
    <div class="wrapper wrapper-content project-manager">

      <div class="row">
        <div class="col-3">
          <a [routerLink]="['/app/tickets/list']" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-circle-left"></i>
            Discard</a>
        </div>

      </div>

      <h2>{{newTicket.ticket_num}}
        <!-- <small class="d-block text-sm-left">{{newTicket.subject_line}}</small> -->
      </h2>
      <label class="text-muted mt-2">{{'app.ticket.STATUS'|translate}}:</label>
      <label class="label label-primary">{{newTicket.status}}</label>

      <label class="text-muted mt-1 d-block">Request Date: {{newTicket.history.create.date|date}}</label>

      <hr />
      <div class="well">
        <h3>Plot Details</h3>
        <div class="row mb-1">
          <div class="col-5 text-right">
            <label class="text-muted">District:</label>
          </div>
          <div class="col-7">
            <select [ngClass]="cV.dist?'':'has-error'" [(ngModel)]="newTicket.property_details.district" (change)="onDistrictSelect($event)"
              class="form-control form-control-sm">
              <option *ngFor="let dist of distctMap" [value]="dist.name">{{dist.name}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-5 text-right">
            <label class="text-muted">Taluk:</label>
          </div>
          <div class="col-7">
            <select [ngClass]="cV.taluk?'':'has-error'" *ngIf="selectedDist" [(ngModel)]="newTicket.property_details.taluk"
              (change)="onTalukSelect()" class="form-control form-control-sm">
              <option *ngFor="let city of selectedDist.city" [value]="city.name">{{city.name}}</option>
            </select>
            <input *ngIf="!selectedDist" class="form-control form-control-sm" disabled>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-5 text-right">
            <label class="text-muted">Hobli:</label>
          </div>
          <div class="col-7">
            <select type="text" *ngIf="selectedTaluk" [ngClass]="cV.hobli?'':'has-error'" [(ngModel)]="newTicket.property_details.hobli"
              (change)="onHobliSelect()" class="form-control form-control-sm">
              <option *ngFor="let hobli of selectedTaluk.hobli" [value]="hobli.name">{{hobli.name}}</option>
            </select>
            <input *ngIf="!selectedTaluk" class="form-control form-control-sm" disabled>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-5 text-right">
            <label class="text-muted">Village:</label>
          </div>
          <div class="col-7">
            <input type="text" [ngClass]="cV.village?'':'has-error'"  [(ngModel)]="newTicket.property_details.village"
              [appInputCheck]="'[a-zA-Z .-]'" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-5 text-right">
            <label class="text-muted">Survey No:</label>
          </div>
          <div class="col-7">
            <input type="text" [ngClass]="cV.patta?'':'has-error'" [(ngModel)]="newTicket.property_details.patta" class="form-control form-control-sm"
              [appInputCheck]="'[a-zA-Z0-9 \.-/_]'">
          </div>
        </div>
      </div>
      <hr />
      <div class="d-block">
        <h5>Attached files</h5>
        <ul class="list-unstyled project-files">
          <li *ngFor="let f of replyMemo.files"><a [href]="config.getApi()+'/file/'+f.id" target="__blank"><i class="text-info fa fa-file"></i>
              {{f.name}}</a></li>
        </ul>
      </div>

      <div class="text-center m-t-md" *ngIf="replyMemo">
        <label class="btn btn-info btn-xs">Add File
          <input type="file" #fileInput (change)="replyMemo && fileUpload(fileInput.files)" style="width: 0px;height: 0px;display: none">
        </label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pl-1 pr-1">
    <div class="card">
      <div class="card-body">
        <h4>Basic Details</h4>
        <label class="text-muted">{{'app.ticket.SUBJECT'|translate}}:</label>
        <div class="form-group form-group-sm">
          <div class="input-group-sm">
            <input class="form-control" [ngClass]="cV.subject?'':'has-error'" type="text" [appInputCheck]="'[a-zA-Z -.]'"
              [(ngModel)]="newTicket.subject_line">
          </div>
        </div>
        <label class="text-muted">{{'app.ticket.PRIORITY'|translate}}:</label>
        <div class="form-group">
          <select class="form-control form-control-sm" [(ngModel)]="newTicket.priority">
            <option value="LOW">{{'app.ticket.LOW'|translate}}</option>
            <option value="MEDIUM">{{'app.ticket.MEDIUM'|translate}}</option>
            <option value="HIGH">{{'app.ticket.HIGH'|translate}}</option>
            <option value="VERY_HIGH">{{'app.ticket.VERY_HIGH'|translate}}</option>
            <option value="ESCALATE">{{'app.ticket.ESCALATE'|translate}}</option>
          </select>
        </div>
        <label class="text-muted">{{'app.ticket.TYPE'|translate}}:</label>
        <select class="form-control form-control-sm" [(ngModel)]="newTicket.request_type">
          <option value="SURVEY">SURVEY</option>
          <option value="COMPLAIN">COMPLAIN</option>
        </select>
        <h4>Applicant Details</h4>
        <label class="text-muted">Application No:</label>
        <div class="form-group">
          <input class="form-control form-control-sm" [ngClass]="cV.app?'':'has-error'" [(ngModel)]="newTicket.requestor.app_no">
        </div>

        <label class="text-muted">Full Name:</label>
        <div class="form-group">
          <input class="form-control form-control-sm" [ngClass]="cV.fullname?'':'has-error'" [appInputCheck]="'[a-zA-Z .]'"
            [(ngModel)]="newTicket.requestor.full_name">
        </div>

        <label class="text-muted">Father Name:</label>
        <div class="form-group">
          <input class="form-control form-control-sm" [ngClass]="cV.father?'':'has-error'" [appInputCheck]="'[a-zA-Z .]'"
            [(ngModel)]="newTicket.requestor.father_name">
        </div>

        <label class="text-muted">Mobile:</label>
        <div class="form-group">
          <input class="form-control form-control-sm" [maxLength]="10" [ngClass]="cV.mobile?'':'has-error'" [appInputCheck]="'[0-9]'"
            [(ngModel)]="newTicket.requestor.contact">
        </div>

        <label class="text-muted">Email:</label>
        <div class="form-group">
          <input class="form-control form-control-sm" [appInputCheck]="'[a-zA-Z0-9.-@_]'" [(ngModel)]="newTicket.requestor.email">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 pl-1 pr-1">
    <ul class="nav nav-tabs">
      <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Users Messages</a></li>
      <!-- <li><a class="nav-link" href="#tab-2" data-toggle="tab">Last Activity</a></li> -->
    </ul>

    <div class="card">
      <div class="card-body p-0">


        <div class="tab-content">
          <div class="tab-pane active" id="tab-1">
            <div class="row m-0 mb-2 p-1 shadow-sm">
              <div class="col-2">

              </div>
              <div class="col-10 text-right">
                <button (click)="onStageSave()" class="btn btn-sm btn-outline-primary" [ngbTooltip]="'Create'">Create</button>
              </div>
            </div>

            <div class="feed-activity-list details-content">

              <div class="feed-element m-2">
                <a href="#" class="float-left">
                  <img alt="image" class="rounded-circle" style="width: 38px;height: 38px;object-fit: cover" [src]="replyMemo.user.avtar">
                </a>
                <div class="media-body ">
                  <small class="float-right">now</small>
                  <strong>{{replyMemo.user.first_name+' '+replyMemo.user.last_name}}</strong> <i class="text-muted">{{getMemoTypeText(replyMemo.memo_type)}}</i>
                  <br>
                  <small class="text-muted">{{replyMemo.date|date}}</small>
                  <div class="clearfix"></div>
                  <app-richeditor [content]="replyMemo" [name]="'content'" [mode]="'EDIT'"></app-richeditor>
                </div>
              </div>

              <div class="feed-element m-2" *ngFor="let memo of newTicket.memo|orderBy:'date'" (click)="memo.isExapnd=!memo.isExapnd">
                <a href="#" class="float-left">
                  <img alt="image" class="rounded-circle" src="assets/user.svg">
                </a>
                <div class="media-body ">
                  <small class="float-right">{{memo.date|timeAgo}}</small>
                  <strong>{{memo.user.first_name+' '+memo.user.last_name}}</strong> <i class="text-muted">{{getMemoTypeText(memo.memo_type)}}</i><br>
                  <small class="text-muted">{{memo.date|date}}</small>

                  <app-richeditor [content]="memo" [name]="'content'" [mode]="'DISPLAY'"></app-richeditor>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Users</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="search user">
    <div class="list-group  list-group-flush" style="min-width: 150px;">
      <a (click)="c(user)" *ngFor="let user of userList" class="list-group-item list-group-item-action">{{user.first_name}}</a>
    </div>
  </div>
  <!-- <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div> -->
</ng-template>