<div class="wrapper wrapper-content">
    <ngb-tabset>
        <!-- <ngb-tab title="General Settings">
            <ng-template ngbTabContent>
                <app-general></app-general>
            </ng-template>
        </ngb-tab> -->
        <ngb-tab title="Email Settings">
            <ng-template ngbTabContent><app-email></app-email></ng-template>
        </ngb-tab>
        <ngb-tab title="SMS Settings">
            <ng-template ngbTabContent>
               <app-sms></app-sms>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>