<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-4 text-center">
                        <i class="fa fa-ticket fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Total Tickets </span>
                        <h2 class="font-bold">5</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> SMS Send </span>
                        <h2 class="font-bold">26</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Email Send </span>
                        <h2 class="font-bold">26</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Active Users </span>
                        <h2 class="font-bold">12</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="report_month"></canvas>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <canvas id="report_pie"></canvas>
                </div>
                <div class="col-lg-6">
                    <div class="widget yellw-bg no-padding">
                        <div class="p-m">
                            <h1 class="m-xs">45</h1>

                            <h3 class="font-bold no-margins">
                                Some counts here
                            </h3>
                            <small>Subtitles </small>
                        </div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-chart3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">2</h2>
                            <small>Count 1</small>
                            <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins ">4</h2>
                            <small>Count 2</small>
                            <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div style="width: 60%;" class="progress-bar"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins ">9</h2>
                            <small>count 3</small>
                            <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                            <div class="progress progress-mini">
                                <div style="width: 22%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>