<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">SMD</h1>
        </div>
        <h3>Welcome to Samadhana portal.</h3>
        <p>This is dev client running in dev system. Can't be used for production system.</p>
        <form class="m-t" role="form" >
            <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="userName" name="username" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required="">
            </div>
            <label style="color:brown;font-weight: bold" *ngIf="errorLogin">{{errorLogin}}</label>

            <button type="submit" attr-disabled="isLoading" (click)="login()" class="btn btn-primary block full-width m-b">
                {{isLoading?'Please wait...':'Login'}}
            </button>

            <a><small>Contact your administrator for password reset.</small></a>
        </form>
        <p class="m-t"> <small>Samadhana &copy; 2018</small> </p>
    </div>
</div>