table.table-card>tbody>tr>td {
    padding: 5px 0px;
}

.no-bg-card {
    background: transparent;
    border: 0px;
}

.card-badge {
    position: absolute;
    left: 0px;
    top: 25px;
    text-transform: uppercase;
    border-radius: 0px 5px 5px 0px;
    min-width: 100px;
    text-align: center;
}

.card-number {
    position: absolute;
    top: 5px;
    left: 10px;
}

.card-content {
    min-height: 30px;
    margin-left: 150px;
}

.card-footer>.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border-top-left-radius: 0px;
}

.card-footer>.btn-group>.btn:last-child:not(.dropdown-toggle){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media(min-width: 769px){
    .card-list-scroll{
        overflow: auto;
        height: calc(100vh - 215px);
    }
}

.input-group-prepend>.btn:not([data-toggle="dropdown"]){
    min-width: 70px;
}

select.form-control:not([size]):not([multiple]) {
    height: 1.95rem;
}