<div class="row">
  <div class="col-lg-3 d-none d-sm-block">
    <div class="card ">
      <div class="card-body mailbox-content">
        <div class="file-manager">
          <a *ngIf="currentUser.role.actions.SURVEY.NEW" class="btn btn-block btn-primary compose-mail text-light"
            [routerLink]="['/app/tickets/new']">
            <i class="fa fa-plus"></i> New Grievance
          </a>
          <div class="space-25"></div>

          <h5>Grievance Group</h5>
          <ul class="folder-list m-b-md pl-0">
            <li *ngIf="currentUser.role.access.assign">
              <a (click)="filterQuery={};loadTicketList(false)">
                <i class="fa fa-inbox "></i> All
                <span class="label label-warning float-right" *ngIf="allCounts">{{allCounts.total}}</span>
              </a>
            </li>
            <li>
              <a (click)="showMyTickets()">
                <i class="fa fa-envelope-o"></i>Assigned To Me
                <span class="label label-danger float-right" *ngIf="allCounts">{{allCounts.me}}</span>
              </a>

            </li>
            <li *ngIf="currentUser.role.access.assign">
              <a (click)="showUnassigned()">
                <i class="fa fa-envelope-o"></i>Unassigned
                <span class="label label-danger float-right" *ngIf="allCounts">{{allCounts.blank}}</span>
              </a>
            </li>
          </ul>

          <h5>Filters</h5>
          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">
                Created:
              </button>
            </div>
            <input type="text" placeholder="from" (select)="filterFromDate()"
              class="form-control form-control-sm appDatepicker" [value]="filterDate['history.create.date'].$gte|date"
              [ref]="filterDate['history.create.date']" [key]="'$gte'">
            <input type="text" placeholder="to" (select)="filterFromDate()"
              class="form-control form-control-sm appDatepicker" [value]="filterDate['history.create.date'].$lt|date"
              [ref]="filterDate['history.create.date']" [key]="'$lt'">

            <div class="input-group-append" [ngbTooltip]="'Clear'">
              <button type="button" (click)="resetFilterDate();clearQuery(filterQuery,'history.create.date')"
                class="btn btn-outline-secondary">
                <i class="fa fa-eraser"></i>
              </button>
            </div>

          </div>

          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">
                Status:
              </button>
            </div>
            <select class="form-control" (change)="loadTicketList(!currentUser.role.access.assign)" *ngIf="flowConfig"
              [(ngModel)]="filterQuery.status">
              <option [value]="flowConfig.STATUS_MAP[s].NAME" *ngFor="let s of statusList">
                {{flowConfig.STATUS_MAP[s].DP_NAME|translate}}</option>
            </select>
            <div class="input-group-append" [ngbTooltip]="'Clear'">
              <button type="button" (click)="clearQuery(filterQuery,'status')" class="btn btn-outline-secondary">
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </div>

          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">
                Priority:
              </button>
            </div>
            <select class="form-control" (change)="loadTicketList(!currentUser.role.access.assign)"
              [(ngModel)]="filterQuery.priority">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
              <option value="VERY_HIGHT">VERY HIGH</option>
              <option value="CRITICAL">CRITICAL</option>
            </select>
            <div class="input-group-append" [ngbTooltip]="'Clear'">
              <button type="button" (click)="clearQuery(filterQuery,'priority')" class="btn btn-outline-secondary">
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </div>

          <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">
                Village:
              </button>
            </div>
            <input type="text" class="form-control form-control-sm"
              (change)="loadTicketList(!currentUser.role.access.assign)"
              [(ngModel)]="filterQuery['property_details.village']">

            <div class="input-group-append" [ngbTooltip]="'Clear'">
              <button type="button" (click)="clearQuery(filterQuery,'property_details.village')"
                class="btn btn-outline-secondary">
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </div>

          <div class="input-group mb-3 input-group-sm" *ngIf="currentUser.role.access.assign">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary">
                Assigned To:
              </button>
            </div>
            <select class="form-control form-control-sm" (change)="loadTicketList(false)"
              [(ngModel)]="filterQuery['stages.current.user']">
              <option [value]="u._id" *ngFor="let u of userList">{{u.first_name}} {{u.last_name}}</option>
            </select>
            <div class="input-group-append" [ngbTooltip]="'Clear'">
              <button type="button" (click)="clearQuery(filterQuery,'stages.current.user')"
                class="btn btn-outline-secondary">
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </div>

          <h5>Categories</h5>
          <ul class="category-list" style="padding: 0">
            <li>
              <a (click)="loadTicketsByType('SURVEY')"><i class="fa fa-circle text-navy"></i> Survey <i
                  class="fa fa-check" *ngIf="currentType=='SURVEY'"></i></a>
              <a (click)="loadTicketsByType('COMPLAIN')"><i class="fa fa-circle text-wanring"></i> Complain <i
                  class="fa fa-check" *ngIf="currentType=='COMPLAIN'"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeInRight col-lg-9">
    <div class="mail-box-header  d-none d-sm-block">
      <div class="mail-tools tooltip-demo m-t-md">
        <div class="btn-group float-right">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="currentFilter.text" placeholder="Search">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-info dropdown-toggle rounded-0" data-toggle="dropdown">
                {{currentFilter.filter.name}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="currentFilter.filter=filter"
                  *ngFor="let filter of filterList">{{filter.name}}</a>
              </div>
              <button class="btn btn-info" (click)="onFilterGo()" *ngIf="currentFilter.list==null"
                type="button">Go</button>
              <button class="btn btn-info" (click)="onClearSearch()" *ngIf="currentFilter.list"
                type="button">Clear</button>
            </div>
          </div>
        </div>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="view">
          <label ngbButtonLabel class="btn-white">
            <input ngbButton type="radio" value="CARD"><i class="fa fa-address-card"></i>
          </label>
          <label ngbButtonLabel class="btn-white">
            <input ngbButton type="radio" value="TABLE"><i class="fa fa-table"></i>
          </label>
        </div>
        <!-- <div class="btn-group mr-3">
          <button type="button" class="btn btn-white">Sort By </button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-white dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item">Create Date</button>
              <button class="dropdown-item">Last Modified</button>
              <button class="dropdown-item">Priority</button>
            </div>
          </div>
        </div> -->
        <button class="btn btn-white" (click)="loadTicketList(!currentUser.role.access.assign)" data-toggle="tooltip"
          data-placement="left" title="Refresh">
          <i class="fa fa-refresh"></i> Refresh</button>
      </div>
    </div>
    <div class="mail-box card-list-scroll shadow-none mt-1" [ngClass]="view=='CARD'?'no-bg-card':''">

      <!-- Card View -->

      <table class="table table-mail table-card" *ngIf="view=='CARD'">
        <tbody>
          <tr class="read" *ngFor="let ticket of getList()">
            <td class="border-0 pl-2 pr-2 pb-3">
              <div class="card border-0 shadow pointer">
                <div class="card-body pt-3 pl-3 pr-3 pb-0" [routerLink]="['/app/tickets/details/'+ticket._id]">
                  <span class="card-number text-muted">{{ticket.ticket_num}}</span>
                  <span class="label card-badge"
                    *ngIf="flowConfig && flowConfig.STATUS_MAP && flowConfig.STATUS_MAP[ticket.status]"
                    [ngClass]="getDepthColor(flowConfig.STATUS_MAP[ticket.status].LEVEL)">{{flowConfig.STATUS_MAP[ticket.status].DP_NAME|translate}}</span>
                  <div class="card-content">
                    <h3>{{ticket.subject_line}}</h3>
                  </div>
                </div>
                <div class="card-footer p-0 d-none d-sm-block">
                  <!-- <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light" title="Favorite">
                      <i class="fa fa-star"></i>
                    </button>
                    <button type="button" class="btn btn-light" title="Pin">
                      <i class="fa fa-thumb-tack"></i>
                    </button>
                  </div> -->

                  <!-- Dstrict -->
                  <div class="btn-group" role="group">
                    <div class="media p-0">
                      <i class="fa fa-globe" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">District</label>
                        <h5 class="m-0">{{ticket.property_details.district}}</h5>
                      </div>
                    </div>
                  </div>


                  <!-- Taluk -->
                  <div class="btn-group" role="group">
                    <div class="media p-0">
                      <i class="fa fa-map-marker" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Taluk</label>
                        <h5 class="m-0">{{ticket.property_details.taluk}}</h5>
                      </div>
                    </div>
                  </div>



                  <!-- Create by -->
                  <!-- <div class="btn-group" role="group">
                    <div class="media p-0">
                      <img [src]="ticket.history.create.user.avtar" style="width:25px;height:25px;object-fit: cover"
                        [alt]="ticket.history.create.user.first_name" class="m-1 rounded-circle" style="width:25px;">
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Create by</label>
                        <h5 class="m-0">{{ticket.history.create.user.first_name}}</h5>
                      </div>
                    </div>
                  </div> -->
                  <!-- Assigned to -->
                  <div class="btn-group" role="group">
                    <div class="media p-0" [disablePopover]="checkUserAccess(ticket)" [ngbPopover]="userPopContent"
                      placement="bottom" (click)="loadUserByStage(ticket)" #assignUser="ngbPopover"
                      popoverTitle="User List">
                      <img
                        [src]="(ticket.stages.current.user && ticket.stages.current.user.avtar)||'https://www.w3schools.com/bootstrap4/img_avatar3.png'"
                        [alt]="ticket.stages.current.user && ticket.stages.current.user.first_name"
                        class="m-1 rounded-circle" style="width:25px;height:25px;object-fit: cover">
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Assigned To</label>
                        <h5 class="m-0">{{ticket.stages.current.user ? ticket.stages.current.user.first_name:'--'}}</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Priority-->
                  <div class="btn-group" role="group">
                    <div class="media p-0" [ngbPopover]="priorityPopContent" placement="bottom" #priority="ngbPopover"
                      popoverTitle="Priority">
                      <i class="fa fa-arrow-circle-up" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Priority</label>
                        <h5 class="m-0">{{ticket.priority}}</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Category-->
                  <div class="btn-group" role="group">
                    <div class="media p-0">
                      <i class="fa fa-bookmark" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Category</label>
                        <h5 class="m-0">{{ticket.request_type}}</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Due Date-->
                  <div class="btn-group" role="group">
                    <div class="media p-0">
                      <i class="fa fa-calendar" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Create Date</label>
                        <h5 class="m-0">{{ticket.history.create.date|date}}</h5>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="btn-group" role="group">
                    <div class="media p-0">
                      <i class="fa fa-calendar" style="margin: 10px;"></i>
                      <div class="media-body mr-5 ml-2 text-muted">
                        <label class="m-0">Due Date</label>
                        <h5 class="m-0">{{ticket.eta_date|date}}</h5>
                      </div>
                    </div>
                  </div> -->

                </div>
              </div>
            </td>


            <ng-template #userPopContent>
              <!-- <input type="text" class="form-control form-control-sm" placeholder="search user"> -->
              <div class="list-group  list-group-flush" *ngIf="userByStageCache[ticket.status]"
                style="min-width: 150px;overflow: auto;">
                <a (click)="ticket.stages.current.user=user;assignUser.close();updateUserAsignChanged(ticket)"
                  *ngFor="let user of userByStageCache[ticket.status]" class="list-group-item list-group-item-action">
                  {{user.first_name}} {{user.last_name}}</a>
              </div>
              <div *ngIf="!userByStageCache[ticket.status]">
                no data
              </div>

            </ng-template>


            <ng-template #priorityPopContent>
              <div class="list-group  list-group-flush" style="min-width: 150px;">
                <a (click)="ticket.priority=p;priority.close();updateProrityAsignChanged(ticket)"
                  *ngFor="let p of priorityEnum" class="list-group-item list-group-item-action">{{p}}</a>
              </div>
            </ng-template>

            <!-- <ng-template #ngbDueDatePopover>
              <ngb-datepicker #dp (navigate)="date = $event.next" (select)="createduedatepop.close()"></ngb-datepicker>
            </ng-template> -->
            <!-- 
            <ng-template #ngbTagsPopover>
              <tag-input [(ngModel)]='items' placeholder="Enter labels here"></tag-input>
              <div class="clearfix"></div>
              <button class="btn btn-info btn-sm mt-2 float-right" (click)="tagpop.close()">Done</button>
              <div class="clearfix"></div>
            </ng-template> -->

          </tr>
        </tbody>
      </table>

      <div class="card text-center" *ngIf="getList().length==0 && !isLoadingList">
        No Grievance Found
      </div>



      <!-- Table view  -->

      <table class="table table-hover table-mail" *ngIf="view=='TABLE'">
        <tbody>
          <tr class="unread" *ngFor="let ticket of getList()">
            <!-- <td class="check-mail">
            <input type="checkbox" class="i-checks">
          </td> -->
            <td class="mail-ontact">
              <a [routerLink]="['/app/tickets/details/'+ticket._id]">{{ticket.ticket_num}}</a>
              <span class="label float-right" *ngIf="flowConfig"
                [ngClass]="getDepthColor(flowConfig.STATUS_MAP[ticket.status].LEVEL)">{{flowConfig.STATUS_MAP[ticket.status].DP_NAME|translate}}</span>
            </td>
            <td class="mail-subject">
              <a [routerLink]="['/app/tickets/details/'+ticket._id]">{{ticket.subject_line}}</a>
            </td>
            <td class="mail-ontact">
              <i class="fa fa-user-circle"></i> {{ticket.stages.current.user?ticket.stages.current.user.first_name:' --
              '}}
            </td>
            <td class="">
              <span class="label label-warning">{{ticket.priority}}</span>
            </td>
            <td>
              <span class="pie">0.52,1.041</span>
              2d
            </td>
            <td class="text-right mail-date">{{ticket.eta_date|date}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Search not found -->
      <div class="m-2 card text-center" *ngIf="this.currentFilter.list && this.currentFilter.list.length==0">
        <h4>No Found</h4>
        <p><a (click)="onClearSearch()">Clear</a> and try other search.</p>
      </div>

      <!-- Loading Data -->
      <div class="m-2 card text-center" *ngIf="isLoadingList">
        <h4><small><i class="fa fa-spinner fa-spin"></i></small> Loading. Please wait...</h4>
      </div>


    </div>

  </div>
</div>