<div class="wrapper wrapper-content p-0 pt-2">
    <ngb-tabset [justify]="'left'" #reportTab>
        <ngb-tab>
            <ng-template ngbTabTitle class="d-print-none"><i class="fa fa-ticket"></i> Grievances</ng-template>
            <ng-template ngbTabContent>
                <app-tlreport [(state)]="stageManager" (nav)="onTicketNav($event)"></app-tlreport>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="true">
            <ng-template ngbTabTitle class="d-print-none"><i class="fa fa-users"></i> Users</ng-template>
            <ng-template ngbTabContent>
                <app-userreport></app-userreport>
            </ng-template>
        </ngb-tab>

        <ngb-tab *ngFor="let tc of opendTicketList,index as i">
            <ng-template ngbTabTitle><i class="fa fa-id-card"></i> {{tc.ticket_num}} <a class="text-danger" (click)="onTicketClose(i,$event)"><i class="fa fa-close"></i></a></ng-template>
            <ng-template ngbTabContent>
                <app-tdreport [ticket]="tc"></app-tdreport>
            </ng-template>
        </ngb-tab>



    </ngb-tabset>
</div>