<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2 d-print-none">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-sm mr-2">
            <button type="button" (click)="onPrintRequest()" class="btn btn-outline-secondary"><i class="fa fa-print"></i></button>
            <button type="button" (click)="onExportToExcel()" class="btn btn-outline-secondary"><i class="fa fa-file-excel-o"></i></button>
            <!-- <button type="button" class="btn btn-outline-secondary"><i class="fa fa-file-pdf-o"></i></button> -->
          </div>

          <div class="btn-group btn-group-sm">
            <button type="button" (click)="clearFilter()" class="btn btn-outline-secondary"><i class="fa fa-eraser"></i></button>
          </div>
        </div>


        <div class="mt-2">
          <h3>Activity Filter</h3>
        </div>

        <!-- Date Range -->
        <label>Date Range:</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">From:</span>
          </div>
          <input type="text" class="form-control appDatepicker" [ref]="currentFilter" [key]="'start_date'" placeholder="Start">
        </div>
        <div class="input-group input-group-sm mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">To:</span>
          </div>
          <input type="text" class="form-control appDatepicker" [ref]="currentFilter" [key]="'end_date'" placeholder="End">
        </div>

        <label class="mt-2">User Group:</label>
        <select class="form-control" [(ngModel)]="currentFilter.role">
          <option value="">-All-</option>
          <option value="item._id" *ngFor="let item of roleList">{{item.name}}</option>
        </select>


        <button type="button" (click)="executeQuery()" class="btn btn-primary btn-block mt-2">Apply</button>
      </div>
      <div class="col-10 list-content">
        <h3 class="d-none d-print-block text-center"> User Report <small>{{getToday()|date}}</small></h3>
        <table class="table d-print-block">
          <tbody>
            <tr *ngFor="let item of userList,index as i">
              <td>{{i+1}}</td>
            </tr>
            <tr *ngIf="filterLoading==1">
              <td colspan="11" class="text-center">
                <label>Loading. Please wait...</label>
              </td>
            </tr>
            <tr *ngIf="filterLoading==3">
              <td colspan="11" class="text-center">
                <label>No records found.</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>