<div class="row">
  <div class="col-lg-3 pl-1 pr-1">
    <div class="wrapper wrapper-content project-manager">

      <div class="row">
        <div class="col-3">
          <a [routerLink]="['/app/tickets/list']" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-circle-left"></i>
            Back</a>
        </div>

      </div>

      <h2>{{ticket.ticket_num}}
        <small class="d-block text-sm-left">{{ticket.subject_line}}</small>
      </h2>
      <hr />
      <div class="well">
        <h3>Plot Details</h3>
        <div class="row">
          <div class="col-5 text-right">
            <label class="text-muted">District:</label>
          </div>
          <div class="col-7">
            <label>{{ticket.property_details.district}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <label class="text-muted">Taluk:</label>
          </div>
          <div class="col-7">
            <label>{{ticket.property_details.taluk}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <label class="text-muted">Hobli:</label>
          </div>
          <div class="col-7">
            <label>{{ticket.property_details.hobli}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <label class="text-muted">Village:</label>
          </div>
          <div class="col-7">
            <label>{{ticket.property_details.village}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <label class="text-muted">Survey No:</label>
          </div>
          <div class="col-7">
            <label>{{ticket.property_details.patta}}</label>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-block">
        <h5>Attached files</h5>
        <ul class="list-unstyled project-files" *ngIf="fileList.length">
          <li *ngFor="let f of fileList"><a [href]="config.getApi()+'/file/'+f.id" target="__blank"><i class="text-info fa fa-file"></i>
              {{f.name}}</a></li>
        </ul>
      </div>

      <div class="text-center m-t-md" *ngIf="replyMemo">
        <label class="btn btn-info btn-xs">Add File
          <input type="file" #fileInput (change)="replyMemo && fileUpload(fileInput.files)" style="width: 0px;height: 0px;display: none">
        </label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pl-1 pr-1">
      <div class="card">
        <div class="card-body pt-0">
          <div class="row mt-2">
            <div class="col-9 offset-3 text-right">
              <button *ngIf="currentUser.role.access.ticket && !EditMode && currentUser.role.type=='ADMIN'" (click)="onClickEdit()" class="btn btn-outline-secondary btn-xs"><i
                  class="fa fa-pencil"></i> Edit</button>
              <button *ngIf="EditMode" (click)="onSaveHandler()" class="btn btn-outline-secondary btn-xs"><i class="fa fa-save"></i>
                Save</button>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-12">
              <h2>{{ticket.subject_line}}</h2>
            </div>
          </div> -->
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">{{'app.ticket.PRIORITY'|translate}}:</label>
            </div>
            <div class="col-6">
              <div class="form-group" *ngIf="EditMode">
                <div class="input-group-sm">
                  <select class="form-control" (change)="updateProrityAsignChanged(ticket)" [(ngModel)]="ticket.priority">
                    <option value="LOW">{{'app.ticket.LOW'|translate}}</option>
                    <option value="MEDIUM">{{'app.ticket.MEDIUM'|translate}}</option>
                    <option value="HIGH">{{'app.ticket.HIGH'|translate}}</option>
                    <option value="VERY_HIGH">{{'app.ticket.VERY_HIGH'|translate}}</option>
                    <option value="ESCALATE">{{'app.ticket.ESCALATE'|translate}}</option>
                  </select>
                </div>
              </div>
              <label *ngIf="!EditMode">{{'app.ticket.'+ticket.priority|translate}}</label>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">{{'app.ticket.STATUS'|translate}}:</label>
            </div>
            <div class="col-6">
              <label class="label" [ngClass]="getDepthColor(flowConfig.STATUS_MAP[ticket.status].LEVEL)">{{flowConfig.STATUS_MAP[ticket.status].DP_NAME|translate}}</label>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">{{'app.ticket.TYPE'|translate}}:</label>
            </div>
            <div class="col-6">
              <label class="label label-dark">{{ticket.request_type}}</label>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">Request Date:</label>
            </div>
            <div class="col-6">
              <label>{{ticket.history.create.date|date}}</label>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">Completion Date:</label>
            </div>
            <div class="col-6">
              <div class="form-group form-group-sm" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <div class="input-group-sm">
                  <input class="form-control appDatepicker" [value]="ticket.eta_date|date" [ref]="ticket" [key]="'eta_date'">
                </div>
              </div>
  
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.eta_date|date}}</label>
            </div>
          </div>
  
          <div class="row" *ngIf="ticket.stages">
            <div class="col-6 text-right">
              <label class="text-muted">Response Expected By:</label>
            </div>
            <div class="col-6">
              <div class="form-group form-group-sm" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <div class="input-group-sm">
                  <input class="form-control appDatepicker" [value]="ticket.stages.current.eta_date|date" [ref]="ticket.stages.current"
                    [key]="'eta_date'">
                </div>
              </div>
  
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.stages.current.eta_date|date}}</label>
              <!-- pie -->
            </div>
          </div>
  
          <div class="row">
            <div class="col-6 text-right">
              <label class="text-muted">Processor:</label>
            </div>
            <div class="col-6" (click)="EditMode && onSelectProcessor(content)">
              <img *ngIf="ticket.stages.current.user" [src]="ticket.stages.current.user.avtar" [alt]="ticket.stages.current.user.first_name"
                class="m-1 rounded-circle" style="width:25px;height:25px;object-fit: cover">
              <label *ngIf="ticket.stages.current.user">{{ticket.stages.current.user.first_name}}
                {{ticket.stages.current.user.last_name}}</label>
              <label *ngIf="!ticket.stages.current.user && checkIfCurrentUserHasAccess() && EditMode" class="text-muted border p-1"><i>Enter
                  a processor</i></label>
            </div>
          </div>
          <hr />
          <h3>Applicant Details</h3>
          <div class="row">
            <div class="col-4 text-right">
              <label class="text-muted">Application#:</label>
            </div>
            <div class="col-8">
              <div class="form-group" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <input class="form-control form-control-sm" [(ngModel)]="ticket.requestor.app_no">
              </div>
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.requestor.app_no}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-right">
              <label class="text-muted">Full Name:</label>
            </div>
            <div class="col-8">
              <div class="form-group" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <input class="form-control form-control-sm" [(ngModel)]="ticket.requestor.full_name">
              </div>
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.requestor.full_name}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-right">
              <label class="text-muted">Father Name:</label>
            </div>
            <div class="col-8">
              <div class="form-group" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <input class="form-control form-control-sm" [(ngModel)]="ticket.requestor.father_name">
              </div>
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.requestor.father_name}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-right">
              <label class="text-muted">Mobile:</label>
            </div>
            <div class="col-8">
              <div class="form-group" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <input class="form-control form-control-sm" [(ngModel)]="ticket.requestor.contact">
              </div>
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.requestor.contact}}</label>
            </div>
          </div>
  
          <div class="row">
            <div class="col-4 text-right">
              <label class="text-muted">Email:</label>
            </div>
            <div class="col-8">
              <div class="form-group" *ngIf="EditMode && currentUser.role.type=='ADMIN'">
                <input class="form-control form-control-sm" [(ngModel)]="ticket.requestor.email">
              </div>
              <label *ngIf="!EditMode || currentUser.role.type!='ADMIN'">{{ticket.requestor.email}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-lg-6 pl-1 pr-1">
    <ul class="nav nav-tabs">
      <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Users Messages</a></li>
      <li><a class="nav-link" href="#tab-2" data-toggle="tab">Action Logs</a></li>
      <li><a class="nav-link" href="#tab-3" data-toggle="tab">Last Activity</a></li>
    </ul>

    <div class="card">
      <div class="card-body p-0">


        <div class="tab-content">
          <div class="tab-pane active" id="tab-1">
            <div class="row m-0 mb-2 p-1 shadow-sm">
              <div class="col-2">
                <a class="btn btn-sm btn-light text-dark" (click)="isExpand!=isExpand" [ngbTooltip]="'app.ticket.EXPAND_ALL' | translate">
                  <i class="fa" [ngClass]="isExpand?'fa-chevron-circle-up':'fa-chevron-circle-down'"></i>
                </a>
              </div>
              <div class="col-10 text-right" *ngIf="replyMemo">
                <label class="mr-3">
                  <input type="checkbox" [(ngModel)]="ticket.toUser"> Send update to requestor
                </label>
                <button (click)="onStageSave()" class="btn btn-sm btn-outline-primary" [ngbTooltip]="'Save'">Save</button>
                <button (click)="onStageCancel()" class="btn btn-sm btn-outline-warning" [ngbTooltip]="'Cancel'">Cancel</button>
              </div>


              <div class="col-10 text-right" *ngIf="!replyMemo">
                <ng-container *ngFor="let action of availableAction">
                  <button (click)="onActionPerformed(action)" *ngIf="!action.HIDDEN" class="btn btn-sm" [ngClass]="getSenceStyle(action)">
                    {{action.DP_NAME|translate}} </button>
                </ng-container>
                <button *ngIf="canAccessCheck('TAG')" (click)="onComment()" class="btn btn-sm btn-outline-info"
                  [ngbTooltip]="'Comment'"><i class="fa fa-comment"></i></button>
              </div>
            </div>

            <div class="feed-activity-list details-content">

              <div class="feed-element m-2" *ngIf="replyMemo">
                <a href="#" class="float-left">
                  <img alt="image" class="rounded-circle" style="width: 38px;height: 38px;object-fit: cover" [src]="replyMemo.user.avtar">
                </a>
                <div class="media-body ">
                  <small class="float-right">now</small>
                  <strong>{{replyMemo.user.first_name+' '+replyMemo.user.last_name}}</strong> <i class="text-muted">{{getMemoTypeText(replyMemo.memo_type)}}</i>
                  <br>
                  <small class="text-muted">{{replyMemo.date|date}}</small>
                  <div class="clearfix"></div>
                  <app-richeditor [content]="replyMemo" [name]="'content'" [mode]="'EDIT'"></app-richeditor>
                </div>
              </div>

              <div class="feed-element m-2" *ngFor="let memo of ticket.memo|orderBy:'date',index as i" (click)="memo.isExapnd=!memo.isExapnd">
                <a href="#" class="float-left">
                  <img alt="image" class="rounded-circle" style="width: 38px;height: 38px;object-fit: cover" [src]="memo.user.avtar">
                </a>
                <div class="media-body ">
                  <small class="float-right">{{memo.date|timeAgo}}</small>
                  <strong>{{memo.user.first_name+' '+memo.user.last_name}}</strong> <i class="text-muted">{{getMemoTypeText(memo.memo_type)}}</i><br>
                  <small class="text-muted">{{memo.date|date}}</small>

                  <app-richeditor *ngIf="memo.isExapnd || isExpand || i==0" [content]="memo" [name]="'content'" [mode]="'DISPLAY'"></app-richeditor>
                </div>
              </div>
            </div>


          </div>
          <div class="tab-pane" id="tab-2">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>User</th>
                  <th>In Date</th>
                  <th>Out Date</th>
                  <th>ETA Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hist of ticket.stages.history">
                  <td>
                    <span class="label label-primary">{{hist.status}}</span>
                  </td>
                  <td>
                    {{hist.user.first_name}} {{hist.user.last_name}}
                  </td>
                  <td>
                    {{hist.in_date|date}}
                  </td>
                  <td>
                    {{hist.out_date|date}}
                  </td>
                  <td>
                    {{hist.eta_date|date}}
                  </td>
                  <td>
                    {{hist.action}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="tab-pane" id="tab-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hist of ticket.history.modified;let i = index">
                  <td>
                    <span class="label label-primary">{{i}}</span>
                  </td>
                  <td>
                    {{hist.user.first_name}} {{hist.user.last_name}}
                  </td>
                  <td>
                    {{hist.date|date}}
                  </td>
                  <td>
                    {{hist.comment}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #ngbFinalDate>
  <ngb-datepicker #dp1 (select)="onSelectDate($event,'FD');"></ngb-datepicker>
</ng-template>

<ng-template #ngbUserFinalDate>
  <ngb-datepicker #dp2 (select)="onSelectDate($event,'UFD');"></ngb-datepicker>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Users</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <input type="text" class="form-control" placeholder="search user"> -->
    <div class="list-group  list-group-flush" style="min-width: 150px;">
      <a (click)="c(user)" *ngFor="let user of userByStageCache[ticket.status]" class="list-group-item list-group-item-action">{{user.first_name}}</a>
    </div>
  </div>
  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
      </div> -->
</ng-template>