@media (min-width: 769px){
    body {
        overflow: auto !important;
    }
    .image-content{
        height: 515px;;
    }
}

.search-min-height{
    min-height: 200px;
}

@media (max-width: 768px){
    .search-min-height{
        min-height: 80px;
    }
}

