<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Samadhana</a>
        <!-- <button class="navbar-toggler d-none d-sm-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">{{'web.LOGIN'|translate}}</a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-content m-5">
        <div class="row">
            <div class="col-lg-6 image-content">
                <img src="../../../assets/img/home.jpg" class="w-100">
            </div>
            <div class="col-lg-6">
                <!-- {{dashboard|json}} -->

                <div class="row">
                    <div class="col-12 text-center search-min-height">
                        <div class="col-sm-6 col-12 offset-sm-3 mt-5">
                            <!-- <p>Track your request here.</p> -->
                            <div class="input-group input-group-sm mb-3 align-middle">
                                <input type="text" class="form-control" [(ngModel)]="searchBase.fields.ticket_num" placeholder="{{'web.TICKET_NUM'|translate}}">
                                <input type="text" class="form-control" [(ngModel)]="searchBase.fields.mobile" placeholder="{{'web.MOBILE'|translate}}">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" (click)="onSearchClick()" type="button">{{'web.SEARCH'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!searchBase.result && searchBase.searching==0">
                    <div class="col-12 col-sm-4 mt-2">
                        <button type="button" class="btn btn-danger m-r-sm">{{dashboard.ACCESS.SITE||0}}</button>
                        {{'web.SITE_ACCESS'|translate}}
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        <button type="button" class="btn btn-primary m-r-sm">{{dashboard.ACCESS.TRACK||0}}</button>
                        {{'web.TRACKED'|translate}}
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        <button type="button" class="btn btn-info m-r-sm">{{dashboard.ACCESS.INTERNAL||0}}</button>
                        {{'web.INT_ACCESS'|translate}}
                    </div>
                </div>
                <div class="row mt-4" *ngIf="!searchBase.result  && searchBase.searching==0">
                    <div class="col-md-6">
                        <canvas id="canvas"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox-content" *ngIf="dashboard.data">
                            <div>
                                <div>
                                    <span>{{'web.TOT_REQ'|translate}}</span>
                                    <small class="float-right">{{dashboard.TOTAL}}</small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width:100%;" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>{{'web.SOVLED'|translate}}</span>
                                    <small class="float-right">{{getSolvedCount().count}}</small>
                                </div>
                                <div class="progress progress-small">
                                    <div [ngStyle]="getSolvedCount().per" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>{{'web.IN_PROG'|translate}}</span>
                                    <small class="float-right">{{getInProgressCount().count}}</small>
                                </div>
                                <div class="progress progress-small">
                                    <div [ngStyle]="getInProgressCount().per" class="progress-bar"></div>
                                </div>

                                <div>
                                    <span>{{'web.CANCELED'|translate}}</span>
                                    <small class="float-right">{{getCancelCount().count}}</small>
                                </div>
                                <div class="progress progress-small">
                                    <div [ngStyle]="getCancelCount().per" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="searchBase.searching!=0">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" *ngIf="searchBase.searching==2 && searchBase.result">

                                <div class="text-center">
                                    <label class="label label-default">{{searchBase.result.ticket_num}}</label>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <label class="d-block">{{searchBase.result.requestor.full_name}}</label>
                                        <label class="d-block">{{searchBase.result.requestor.father_name}}</label>
                                        <label class="d-block">{{searchBase.result.requestor.contact}}</label>
                                        <label class="d-block">{{searchBase.result.requestor.email}}</label>
                                    </div>
                                    <div class="col-12 col-sm-6 text-right">
                                        <label class="d-block">{{searchBase.result.property_details.district}}</label>
                                        <label class="d-block">{{searchBase.result.property_details.taluk}}</label>
                                        <label class="d-block">{{searchBase.result.property_details.village}}</label>
                                        <label class="d-block">{{searchBase.result.property_details.patta}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{{'web.REQ_DATE'|translate}}</th>
                                                    <th>{{'web.ETA_DATE'|translate}}</th>
                                                    <th>{{'web.STATUS'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{searchBase.result.history.create.date|date}}</td>
                                                    <td>{{searchBase.result.eta_date|date}}</td>
                                                    <td><label class="label label-info">{{searchBase.result.status}}</label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button (click)="onResetSearch(true)" class="btn btn-xs float-right">{{'web.CLEAR'|translate}}</button>
                            </div>
                            <div class="card-body text-center" *ngIf="searchBase.searching==2 && !searchBase.result">
                                {{'web.NOT_FOUND'|translate}}
                                <button (click)="onResetSearch(true)" class="btn btn-xs float-right">{{'web.CLEAR'|translate}}</button>
                            </div>
                            <div class="card-body text-center" *ngIf="searchBase.searching==1">
                                {{'web.SEARCHING'|translate}}
                                <button (click)="onResetSearch(true)" class="btn btn-xs float-right">{{'web.CLEAR'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>