.file .file-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.text-green{
    color:#28a745 !important;
}

.text-orange{
    color:orange !important;
}

.text-red{
    color:red !important;
}