<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">

          <div class="file-box" *ngIf="!newFile && currentUser.role.type=='ADMIN'">
            <button class="btn btn-outline-secondary" (click)="onNewFileCreate()">
              <a class="fa fa-plus text-dark"></a> Add File
            </button>
          </div>

          <div class="file-box" style="width: 270px;margin: 0px 10px;" *ngIf="newFile">
            <div class="card">
              <div class="card-body">
                <h3>New Document</h3>
                <label *ngIf="!newFile.file" class="btn btn-info btn-xs">Add File
                  <input type="file" #fileInput (change)="fileUpload(fileInput.files)" style="width: 0px;height: 0px;display: none">
                </label>
                <label *ngIf="newFile.file">
                  <i class="fa fa-file-text"></i> {{newFile.file.name}}
                </label>

                <h4>Document Access</h4>
                <ng-container *ngIf="roles">
                  <div class="form-group form-group-sm mb-1" *ngFor="let grp of roles,index as i">
                    <span class="switch switch-xs">
                      <input type="checkbox" class="switch" (change)="onChangeValue(grp.name)" [(ngModel)]="selectedRoles[grp.name].value"
                        id="switch-id-{{i}}">
                      <label for="switch-id-{{i}}">{{grp.name}}</label>
                    </span>
                  </div>
                </ng-container>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-danger" (click)="onCancelFileCreate()">Cancel</button>
                <button class="btn btn-sm btn-info" (click)="onSaveNewFile()">Save</button>
              </div>
            </div>
          </div>

          <ng-container *ngIf="documents">
            <div class="file-box" *ngFor="let Doc of documents">
              <div class="file">
                <a [href]="currentUser.role.type=='ADMIN'?'javascript:void()':getDownLoadLink(Doc)">
                  <span class="corner"></span>

                  <div class="image" *ngIf="Doc.file.mime.indexOf('image/')>-1">
                    <img alt="image" class="img-fluid" [src]="getDownLoadLink(Doc)">
                  </div>

                  <div class="icon" *ngIf="Doc.file.mime.indexOf('image/')==-1">
                    <i class="fa" [ngClass]="getIconByMimeType(Doc.file.mime)"></i>
                  </div>
                  <div class="file-name">
                    <a [href]="currentUser.role.type=='ADMIN'?getDownLoadLink(Doc):'javascript:void()'">{{Doc.file.name}}</a>
                    <br />
                    <small>Added: {{Doc.added_date|date}}</small>

                    <i *ngIf="currentUser.role.type=='ADMIN'" (click)="onDeleteFile(Doc,$event)" title="Delete" style="font-size: 140%;"
                      class="fa fa-trash text-warning float-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!documents || documents.length==0">
            <p>Not found any documents to show.</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>