<div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px;">
  <div class="row">
    <div class="col-2 d-print-none">
      <button class="btn btn-secondary" (click)="onPagePrint()"><i class="fa fa-print"></i> Print</button>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body list-content p-5">
          <p class="text-center">
            <!-- <label class="label label-secondary">{{ticket.ticket_num}}</label> -->
            <ngx-barcode [bc-value]="ticket.ticket_num" [bc-height]="50" [bc-display-value]="true"></ngx-barcode>
          </p>
          <p class="text-center">
              <label class="label">{{ticket.request_type}}</label>
          </p>
          <p>
            <label>Application No: <b>{{ticket.requestor.app_no}}</b></label>
            <label class="text-right float-right">Create Date: <b>{{ticket.history.create.date|date}}</b></label>
          </p>
          <div class="row">
            <div class="col-6">
              <i class="text-muted" style="font-size: 80%;">Applicant:</i>
              <label class="d-block">{{ticket.requestor.full_name}}</label>
              <label class="d-block">{{ticket.requestor.father_name}}</label>
              <label class="d-block">{{ticket.requestor.contact}}</label>
              <label class="d-block">{{ticket.requestor.email}}</label>
            </div>
            <div class="col-6 text-right">
              <i class="text-muted" style="font-size: 80%;">Address:</i>
              <label class="d-block"><b>{{ticket.property_details.patta}}</b></label>
              <label class="d-block">{{ticket.property_details.village}}</label>
              <label class="d-block">{{ticket.property_details.hobli}}</label>
              <label class="d-block">{{ticket.property_details.taluk}}</label>
              <label class="d-block">{{ticket.property_details.district}}</label>
            </div>
            <div class="clearfix"></div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Status</th>
                <th>Priority</th>
                <th>Processor</th>
                <th>ETA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ticket.status}}</td>
                <td>{{ticket.priority}}</td>
                <td>{{ticket.stages.current.user.first_name}}</td>
                <td>{{ticket.eta_date|date}}</td>
              </tr>
            </tbody>
          </table>

          <h4>Comments:</h4>

          <div class="media border p-3 mb-2" *ngFor="let memo of ticket.memo|orderBy:'date'">
            <img alt="{{memo.user.first_name}} {{memo.user.last_name}}" class="mr-3 rounded-circle" style="width: 35px;height: 35px;object-fit: cover"
              [src]="memo.user.avtar">
            <div class="media-body">
              <h4>{{memo.user.first_name}} {{memo.user.last_name}} <small><i>Posted on {{memo.date|date}}</i></small>
                <small class="float-right text-muted" style="font-size: 80%"><i>{{memo.memo_type}}</i></small>
              </h4>
              <p [innerHTML]="memo.content"></p>
            </div>
          </div>

          <h4>Action History:</h4>

          <table class="table table-bordered" *ngFor="let act of ticket.stages.history|orderBy:'out_date'">
            <thead>
              <tr>
                <th style="width: 15%">In Date</th>
                <th style="width: 15%">Out Date</th>
                <th style="width: 20%">Processor</th>
                <th style="width: 15%">Stage Status</th>
                <th style="width: 25%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 15%">{{act.in_date|date}}</td>
                <td style="width: 15%">{{act.out_date|date}}</td>
                <td style="width: 20%">{{act.user.first_name}}</td>
                <td style="width: 15%">{{act.status}}</td>
                <td style="width: 25%">{{act.action}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>