<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">

        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-cog"></i> Settings</span>
            </ng-template>
            <ng-template ngbPanelContent *ngIf="smsSetting">
              <div class="row">
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>API URL:</label>
                    <div class="input-group-sm">
                      <input class="form-control" [(ngModel)]="smsSetting.value.url" type="text" placeholder="e.g https://example.com/api/">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>Method:</label>
                    <div class="input-group-sm">
                      <select class="form-control" [(ngModel)]="smsSetting.value.method">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <section>
                <h4>Parametes
                  <small>
                    <button class="btn btn-xs" (click)="onAddParam()"><i class="fa fa-plus"></i></button>
                  </small>
                </h4>
                <div class="row" *ngFor="let item of smsSetting.value.params;index as i">
                  <div class="col-4">
                    <div class="form-group form-group-sm">
                      <div class="input-group-sm">
                        <input class="form-control" [(ngModel)]="item.name" placeholder="name" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group form-group-sm">
                      <div class="input-group-sm">
                        <input class="form-control" [(ngModel)]="item.value" placeholder="value" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-sm btn-outline-danger" (click)="onRemoveParam(i)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <button (click)="onSaveSMSSettings()" class="btn btn-xs btn-info ml-2 float-right">Save</button>
                <div class="clearfix"></div>
              </section>


            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-table"></i> Transactions</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>To</th>
                    <th>Ticket</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of smsTransactions">
                    <td>{{item._id|limitTo:10}}</td>
                    <td>{{item.to}}</td>
                    <td><a [routerLink]="['/app/tickets/details/'+item.ticket]">{{item.ticket|limitTo:10}}</a></td>
                    <td>{{item.status}}</td>
                    <td>{{item.date|date}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>


      </div>
      <div class="col-6" *ngIf="activeTemplate">
        <h3>SMS Templates
          <small *ngIf="smsTemplates">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>{{activeTemplate.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let item of smsTemplates.value" (click)="onSelectTemplate(item)" class="dropdown-item">{{item.name}}</button>
              </div>
            </div>
            <button (click)="onSaveSMSTemplates()" class="btn btn-xs btn-info ml-2">Save</button>            
          </small>
        </h3>
        <label>Content: <h3 class="d-inline-block">#{{activeTemplate.content.length}}</h3></label>
        <div class="form-group form-group-sm">
          <label style="height: 20px;width: 20px;display: block;">&nbsp; </label>
          <span class="switch switch-xs">
            <input type="checkbox" [(ngModel)]="activeTemplate.local" class="switch" id="switch-id-1">
            <label for="switch-id-1">Local Language</label>
          </span>
        </div>
        <textarea class="form-control" [(ngModel)]="activeTemplate.content"></textarea>
      </div>
    </div>
  </div>
</div>