<ng-template #confirm>
  <div class="modal-header">
    <h4 class="modal-title">{{state.title}}</h4>
  </div>
  <div class="modal-body">
    <p>{{state.message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-info" (click)="yes()">Yes</button>
    <button type="button" class="btn btn-sm btn-warning" (click)="no()">No</button>
  </div>
</ng-template>

<div *ngFor="let alert of state.alerts,index as i" [ngStyle]="{bottom:(i*50)+'px'}" style="position: fixed;right: 30px;z-index:9999;">
  <ngb-alert [type]="alert.type" [dismissible]="true" (close)="closeMe(i)">
    <span [innerHTML]="alert.messaage"></span>
  </ngb-alert>
</div>