<nav class="navbar-default navbar-static-side d-print-none" style="position: fixed;height: 100%;" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" *ngIf="user">
                    <img style="max-width: 50px;" alt="image" class="img-circle" [src]="user.avtar||'https://www.w3schools.com/bootstrap4/img_avatar3.png'" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {{user.first_name}} {{user.last_name}}
                                    <b class="caret"></b>
                                </strong>
                            </span>
                            <!-- <span class="text-muted text-xs block">Art Director
                                
                            </span> -->
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a [routerLink]="['/app/profile',user._id]">Profile</a>
                        </li>
                        <!-- <li>
                            <a ui-sref="inbox" (click)="goto('/app/mailbox')">Mailbox</a>
                        </li> -->
                        <li class="divider"></li>
                        <li>
                            <a (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element pointer" (click)="toggleNavigation()">
                    <i class="fa fa-bars d-none d-sm-block"></i>
                    <i class="fa fa-arrow-left d-block d-sm-none"></i>
                </div>
            </li>
            <!-- <li [routerLinkActive]="['active']">
                <a [routerLink]="['/app/home']">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li> -->
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/app/tickets']">
                    <i class="fa fa-ticket"></i>
                    <span class="nav-label">Tickets</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="accessSingleCheck('document')">
                <a [routerLink]="['/app/documents']">
                    <i class="fa fa-book"></i>
                    <span class="nav-label">Documents</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="accessSingleCheck('users')">
                <a [routerLink]="['/app/users']">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Users</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="accessSingleCheck('report')">
                <a [routerLink]="['/app/reports']">
                    <i class="fa fa-area-chart"></i>
                    <span class="nav-label">Reports</span>
                </a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="accessSingleCheck('settings')">
                <a [routerLink]="['/app/settings']">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</nav>