<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2 d-print-none">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-sm mr-2">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                {{currentFilter.name||'All'}}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="switchFilter(defaultQuery,$event)">All</a>
                <a class="dropdown-item" (click)="switchFilter(item,$event)" *ngFor="let item of filterList">{{item.value.name}}</a>
              </div>
            </div>
          </div>

          <div class="btn-group btn-group-sm mr-2">
            <button type="button" (click)="onPrintRequest()" class="btn btn-outline-secondary"><i class="fa fa-print"></i></button>
            <button type="button" (click)="onExportToExcel()" class="btn btn-outline-secondary"><i class="fa fa-file-excel-o"></i></button>
            <!-- <button type="button" class="btn btn-outline-secondary"><i class="fa fa-file-pdf-o"></i></button> -->
          </div>

          <div class="btn-group btn-group-sm">
            <button type="button" (click)="switchFilter(defaultQuery,$event)" class="btn btn-outline-secondary"><i
                class="fa fa-eraser"></i></button>
          </div>
        </div>


        <div class="mt-2">
          <h3>Filters</h3>
          <label>Create Date:</label>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link text-dark" id="dropdownBasic1" ngbDropdownToggle>{{currentFilter.filter?currentFilter.filter.create_date.active:'-
              all -'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="currentFilter.filter">
              <button (click)="onClearFilterOption('create_date');" class="dropdown-item">- all -</button>
              <button *ngFor="let item of currentFilter.filter.create_date.list" (click)="dateSelection(item)" class="dropdown-item">{{item}}</button>
            </div>
          </div>
        </div>

        <!-- Single Date -->

        <div *ngIf="currentFilter.filter.create_date.active=='Selected Date'" class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Date:</span>
          </div>
          <input type="text" [ref]="currentFilter.filter.create_date" [key]="'low'" class="form-control w-80 appDatepicker">
        </div>

        <!-- Date Range -->

        <div *ngIf="currentFilter.filter.create_date.active=='Date Range'" class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">From:</span>
          </div>
          <input type="text" class="form-control appDatepicker" [ref]="currentFilter.filter.create_date" [key]="'low'"
            placeholder="Start">
        </div>
        <div *ngIf="currentFilter.filter.create_date.active=='Date Range'" class="input-group input-group-sm mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">To:</span>
          </div>
          <input type="text" class="form-control appDatepicker" [ref]="currentFilter.filter.create_date" [key]="'high'"
            placeholder="End">
        </div>


        <div>
          <label>Assigned to:</label>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link text-dark" id="dropdownuser1" ngbDropdownToggle>{{currentFilter.filter.user_own.active?currentFilter.filter.user_own.active.first_name:'-
              all -'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownuser1">
              <button (click)="onClearFilterOption('user_own');" class="dropdown-item">- all -</button>
              <button *ngFor="let item of currentFilter.filter.user_own.list" (click)="currentFilter.filter.user_own.active=item;currentFilter.filter.user_own.low=item._id"
                class="dropdown-item">{{item.first_name}}</button>
            </div>
          </div>
        </div>

        <div>
          <label>Priority:</label>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link text-dark" id="dropdownuser1" ngbDropdownToggle>{{currentFilter.filter.priority.active||'-
              all -'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownuser1">
              <button (click)="onClearFilterOption('priority');" class="dropdown-item">- all -</button>
              <button *ngFor="let item of currentFilter.filter.priority.list" (click)="currentFilter.filter.priority.active=item;currentFilter.filter.priority.low=item;"
                class="dropdown-item">{{item}}</button>
            </div>
          </div>
        </div>


        <div>
          <label>Status:</label>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link text-dark" id="dropdownstatus" ngbDropdownToggle>{{currentFilter.filter.status.active||'-
              all -'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownstatus">
              <button (click)="onClearFilterOption('status');" class="dropdown-item">- all -</button>
              <button *ngFor="let item of currentFilter.filter.status.list" (click)="currentFilter.filter.status.active=item;currentFilter.filter.status.low=item"
                class="dropdown-item">{{item}}</button>
            </div>
          </div>
        </div>

        <div>
            <label>Grievance Type:</label>
  
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link text-dark" id="dropdownstatus" ngbDropdownToggle>{{currentFilter.filter.type.active||'-
                all -'}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownstatus">
                <button (click)="onClearFilterOption('type');" class="dropdown-item">- all -</button>
                <button *ngFor="let item of currentFilter.filter.type.list" (click)="currentFilter.filter.type.active=item;currentFilter.filter.type.low=item"
                  class="dropdown-item">{{item}}</button>
              </div>
            </div>
          </div>

        <div>
          <label>Village:</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Name:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="currentFilter.filter.village.low">
          </div>
        </div>

        <button type="button" (click)="executeQuery()" class="btn btn-primary btn-block mt-2">Apply</button>

        <div class="mt-4">
          <label>Save filter:</label>
          <div class="row">
            <div class="col-12">
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" [(ngModel)]="currentFilter.name">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="saveFilter()" type="button">Save</button>
                  <button class="btn btn-outline-secondary" (click)="deleteFilter()" type="button"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
      <div class="col-10 list-content">
        <h3 class="d-none d-print-block text-center"> Grievance Report <small>{{getToday()|date}}</small></h3>
        <table class="table d-print-block">
          <thead>
            <tr>
              <th>#</th>
              <th>Application Date</th>
              <th>Application No</th>
              <th>Survey No</th>
              <th>Village</th>
              <th>Hobli</th>
              <th>Taluk</th>
              <th>Applicant Name</th>
              <th>Mobile Number</th>
              <th>Surveyor Name</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Type</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ticketList,index as i">
              <td>{{i+1}}</td>
              <td>{{item.history.create.date|date}}</td>              
              <td><a (click)="onClickTicket(item)">{{item.ticket_num}}</a></td>
              <!-- <td>{{item.requestor.app_no}}</td> -->
              <td>{{item.property_details.patta}}</td>
              <td>{{item.property_details.village}}</td>
              <td>{{item.property_details.hobli}}</td>
              <td>{{item.property_details.taluk}}</td>
              <td>{{item.requestor.full_name}}</td>
              <td>{{item.requestor.contact}}</td>
              <td>{{item.stages.current.user?item.stages.current.user.first_name:''}}</td>
              <td>{{item.status}}</td>
              <td>{{item.priority}}</td>
              <td>{{item.request_type}}</td>
              <td>{{item.eta_date|date}}</td>
            </tr>
            <tr *ngIf="filterLoading==1">
              <td colspan="11" class="text-center">
                <label>Loading. Please wait...</label>
              </td>
            </tr>
            <tr *ngIf="filterLoading==3">
              <td colspan="11" class="text-center">
                <label>No records found.</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>