

.user-lable-text{
    font-style: italic;
    color: #888888 !important;
}

.table-mail>body>tr>td{
    vertical-align: middle;
}

@media(min-width:769px){
    
    .user-list-content{
        height: calc(100vh - 225px);
        overflow: auto;
    }
}

.folder-list>li.active{
    font-weight: bold;
    font-style: italic;
}

.selected_avtart{
    border-bottom: 2px solid #17a2b8;
    height: 5px;
}