<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3 d-none d-sm-block" *ngIf="!showOnlyUser">
            <div class="ibox ">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <button class="btn btn-block btn-info compose-mail" (click)="onCreateNewUser()"><i
                                class="fa fa-user-plus "></i>
                            Add New User</button>
                        <div class="space-25"></div>
                        <h5>User Groups</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li [ngClass]="currentGroup==gName?'active':''" *ngFor="let gName of getGroupNames()">
                                <a (click)="currentGroup=gName">
                                    <i [ngClass]="groupedList[gName].icon"></i> {{groupedList[gName].display_name}}
                                    <span
                                        class="label label-warning float-right">{{groupedList[gName].list.length}}</span>
                                </a>
                            </li>

                            <li>
                                <a [ngbPopover]="popContentUserGroup" placement="right"
                                    (click)="createNewRole();pNewRole.open()" triggers="manual" #pNewRole="ngbPopover"
                                    [popoverTitle]="'New user group'" container="body">
                                    <i class="fa fa-plus"></i> Add New user group
                                </a>
                            </li>
                        </ul>




                        <ng-template #popContentUserGroup>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group form-group-sm mb-1">
                                        <label for="usr">Group Name:</label>
                                        <input type="text" [appInputCheck]="'[A-Za-z_]'" [(ngModel)]="newRole.name"
                                            class="form-control form-control-sm" id="usr">
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <label for="pwd">Display Name:</label>
                                        <input type="text" [appInputCheck]="'[A-Za-z ]'"
                                            [(ngModel)]="newRole.display_name" class="form-control  form-control-sm">
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.type=='USER'">
                                        <label for="pwd">District:</label>
                                        <select [(ngModel)]="newRole.district" (change)="onDistrictSelect($event)"
                                            class="form-control form-control-sm">
                                            <option *ngFor="let dist of distctMap" [value]="dist.name">{{dist.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.type=='USER'">
                                        <label for="pwd">Taluk:</label>
                                        <select [(ngModel)]="newRole.taluk" *ngIf="selectedDist"
                                            (change)="onTalukSelect()" class="form-control form-control-sm">
                                            <option *ngFor="let city of selectedDist.city" [value]="city.name">
                                                {{city.name}}
                                            </option>
                                        </select>
                                        <input *ngIf="!selectedDist" class="form-control form-control-sm" disabled>
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <label for="pwd">Type:</label>
                                        <select (change)="onChangeUserType(newRole)" [(ngModel)]="newRole.type"
                                            class="form-control  form-control-sm">
                                            <option value="ADMIN">Admin</option>
                                            <option value="USER">User</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group form-group-sm mb-1">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.access.users" class="switch"
                                                id="switch-id-1">
                                            <label for="switch-id-1">User Setting</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.access.settings" class="switch"
                                                id="switch-id-2">
                                            <label for="switch-id-2">General Settings</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.access.report" class="switch"
                                                id="switch-id-3">
                                            <label for="switch-id-3">Reports</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.access.document" class="switch"
                                                id="switch-id-30">
                                            <label for="switch-id-30">Documents</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" (change)="onTicketAccessChanged(newRole)"
                                                [(ngModel)]="newRole.access.ticket" class="switch" id="switch-id-4">
                                            <label for="switch-id-4">Tickets</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.access.ticket">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.actions.SURVEY.NEW"
                                                class="switch" id="switch-id-5">
                                            <label for="switch-id-5">Can Create New</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.access.ticket">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.actions.SURVEY.PENDING_SURVEY"
                                                class="switch" id="switch-id-6">
                                            <label for="switch-id-6">Can Submit Survey</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.access.ticket">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.actions.SURVEY.PENDING_APPROVAL"
                                                class="switch" id="switch-id-7">
                                            <label for="switch-id-7">Can Approve</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.access.ticket">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.actions.SURVEY.APPROVED"
                                                class="switch" id="switch-id-8">
                                            <label for="switch-id-8">Can Mark Complete</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-sm mb-1" *ngIf="newRole.access.ticket">
                                        <span class="switch switch-xs">
                                            <input type="checkbox" [(ngModel)]="newRole.access.assign" class="switch"
                                                id="switch-id-9">
                                            <label for="switch-id-9">Can Assign</label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-8">
                                    <ngb-alert *ngIf="newRoleSavingStatus" [dismissible]="false"
                                        [innerHTML]="newRoleSavingStatus"></ngb-alert>
                                </div>
                                <div class="col-4 text-right">
                                    <button (click)="saveNewRole(pNewRole)"
                                        class="btn btn-sm btn-info d-inline">Save</button>
                                    <button (click)="newRole=null;pNewRole.close()"
                                        class="btn btn-sm btn-danger d-inline">Cancel</button>
                                </div>
                            </div>
                        </ng-template>




                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animated fadeInRight" *ngIf="!showOnlyUser"
            [ngClass]="selectedUser.user?'col-lg-5 d-none d-sm-block':'col-lg-9  d-block'">
            <div class="mail-box-header">


                <h2>
                    {{groupedList[currentGroup].display_name}} Users ({{groupedList[currentGroup].list.length}})
                    <small>
                        <button title="Edit Group" [disabled]="groupedList[currentGroup].displayOnly"
                            [ngbPopover]="popContentUserGroupEdit" placement="bottom" (click)="pEditRole.open()"
                            triggers="manual" #pEditRole="ngbPopover" [popoverTitle]="'Edit user group'"
                            container="body" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>

                        <button (click)="onDeleteGroup(groupedList[currentGroup])"
                            [disabled]="groupedList[currentGroup].list.length>0 || groupedList[currentGroup].displayOnly"
                            class="btn btn-default btn-xs" title="Delete Group"><i class="fa fa-trash"></i></button>

                    </small>
                </h2>

                <ng-template #popContentUserGroupEdit>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group form-group-sm mb-1">
                                <label for="usr">Group Name:</label>
                                <input type="text" [appInputCheck]="'[A-Za-z_]'"
                                    [(ngModel)]="groupedList[currentGroup].name" class="form-control form-control-sm"
                                    id="usr">
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <label for="pwd">Display Name:</label>
                                <input type="text" [appInputCheck]="'[A-Za-z ]'"
                                    [(ngModel)]="groupedList[currentGroup].display_name"
                                    class="form-control  form-control-sm">
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].type=='USER'">
                                <label for="pwd">District:</label>
                                <select [(ngModel)]="groupedList[currentGroup].district" (change)="onDistrictSelect($event)"
                                    class="form-control form-control-sm">
                                    <option *ngFor="let dist of distctMap" [value]="dist.name">{{dist.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].type=='USER'">
                                <label for="pwd">Taluk:</label>
                                <select [(ngModel)]="groupedList[currentGroup].taluk" *ngIf="selectedDist" (change)="onTalukSelect()"
                                    class="form-control form-control-sm">
                                    <option *ngFor="let city of selectedDist.city" [value]="city.name">
                                        {{city.name}}
                                    </option>
                                </select>
                                <input *ngIf="!selectedDist" class="form-control form-control-sm" disabled>
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <label for="pwd">Type:</label>
                                <select (change)="onChangeUserType(groupedList[currentGroup])"
                                    [(ngModel)]="groupedList[currentGroup].type" class="form-control  form-control-sm">
                                    <option value="ADMIN">Admin</option>
                                    <option value="USER">User</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group form-group-sm mb-1">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].access.users"
                                        class="switch" id="switch-id-1">
                                    <label for="switch-id-1">User Setting</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].access.settings"
                                        class="switch" id="switch-id-2">
                                    <label for="switch-id-2">General Settings</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].access.report"
                                        class="switch" id="switch-id-3">
                                    <label for="switch-id-3">Reports</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].access.document"
                                        class="switch" id="switch-id-30">
                                    <label for="switch-id-30">Documents</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1">
                                <span class="switch switch-xs">
                                    <input type="checkbox" (change)="onTicketAccessChanged(groupedList[currentGroup])"
                                        [(ngModel)]="groupedList[currentGroup].access.ticket" class="switch"
                                        id="switch-id-4">
                                    <label for="switch-id-4">Tickets</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].access.ticket">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].actions.SURVEY.NEW"
                                        class="switch" id="switch-id-5">
                                    <label for="switch-id-5">Can Create New</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].access.ticket">
                                <span class="switch switch-xs">
                                    <input type="checkbox"
                                        [(ngModel)]="groupedList[currentGroup].actions.SURVEY.PENDING_SURVEY"
                                        class="switch" id="switch-id-6">
                                    <label for="switch-id-6">Can Submit Survey</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].access.ticket">
                                <span class="switch switch-xs">
                                    <input type="checkbox"
                                        [(ngModel)]="groupedList[currentGroup].actions.SURVEY.PENDING_APPROVAL"
                                        class="switch" id="switch-id-7">
                                    <label for="switch-id-7">Can Approve</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].access.ticket">
                                <span class="switch switch-xs">
                                    <input type="checkbox"
                                        [(ngModel)]="groupedList[currentGroup].actions.SURVEY.APPROVED" class="switch"
                                        id="switch-id-8">
                                    <label for="switch-id-8">Can Mark Complete</label>
                                </span>
                            </div>
                            <div class="form-group form-group-sm mb-1" *ngIf="groupedList[currentGroup].access.ticket">
                                <span class="switch switch-xs">
                                    <input type="checkbox" [(ngModel)]="groupedList[currentGroup].access.assign"
                                        class="switch" id="switch-id-9">
                                    <label for="switch-id-9">Can Assign</label>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-8">
                            <ngb-alert *ngIf="newRoleSavingStatus" [dismissible]="false"
                                [innerHTML]="newRoleSavingStatus"></ngb-alert>
                        </div>
                        <div class="col-4 text-right">
                            <button (click)="saveEditRole(pEditRole,groupedList[currentGroup])"
                                class="btn btn-sm btn-info d-inline">Save</button>
                            <button (click)="pEditRole.close()" class="btn btn-sm btn-danger d-inline">Cancel</button>
                        </div>
                    </div>
                </ng-template>

                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="row">
                        <div class="col-lg-3 d-sm-block d-none ">
                            <button class="btn btn-white btn-sm" (click)="loadUsers()" data-toggle="tooltip"
                                data-placement="left" title="Refresh">
                                <i class="fa fa-refresh"></i> Refresh
                            </button>
                        </div>
                        <div class="col-12 col-lg-6 offset-lg-3 text-right">
                            <div class="btn-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="userSearchText"
                                        name="search" placeholder="Search user">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-sm btn-primary">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mail-box user-list-content">

                <table class="table table-hover table-mail">
                    <tbody>
                        <ng-container *ngIf="userLoaded">
                            <tr (click)="onSelectUser(user)" [ngClass]="user==selectedUser.user?'unread':'read'"
                                *ngFor="let user of groupedList[currentGroup].list|userSearch:userSearchText">
                                <td class="client-avatar p-2"><img alt="image" [src]="user.avtar||'assets/user.svg'"
                                        style="object-fit: cover;">
                                </td>
                                <td style="white-space: nowrap"><a class="client-link"
                                        [style.color]="!user.active?'#FF495B':''">{{user.first_name
                                        +'
                                        '+user.last_name }}</a></td>
                                <td style="white-space: nowrap"> <span class="label label-light">@</span>
                                    {{user.username|slice:0:10}}</td>
                                <td [title]="user.email" style="white-space: nowrap" class="d-none d-sm-block"><i
                                        class="fa fa-envelope">
                                    </i> {{(user.email||'-')|slice:0:15}}...</td>
                                <td class="client-status text-right"><span class="label label-dark"
                                        *ngIf="rolesLoaded">{{roleKeyMap[user.role].display_name}}</span></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="userList.length==0 && !userLoading">
                            <tr>
                                <td class="text-center">no data</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="text-center" *ngIf="userLoading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
            </div>
        </div>
        <div class="col-12 col-sm-4 animated fadeInRight" [ngClass]="showOnlyUser?'offset-sm-4':''"
            *ngIf="selectedUser.user">

            <div class="card">

                <div class="card-body">
                    <div class="row d-none d-sm-block">
                        <div class="col-12">
                            <div class="mail-tools m-0">
                                <button (click)="appplyUserChange()" class="btn btn-white btn-sm"
                                    *ngIf="selectedUser.mode==0" data-toggle="tooltip" data-placement="left"
                                    title="Edit User Details">
                                    <i class="fa fa-pencil"></i> Edit</button>
                                <button (click)="onSaveHandler()" class="btn btn-success btn-sm"
                                    *ngIf="selectedUser.mode>0" data-toggle="tooltip" data-placement="left"
                                    title="Save Changes">
                                    <i class="fa fa-disk"></i> Save</button>

                                <button (click)="onCancelHandler()" class="btn btn-light btn-sm"
                                    *ngIf="selectedUser.mode>0" data-toggle="tooltip" data-placement="left"
                                    title="Cancel Changes">
                                    <i class="fa fa-close"></i> Cancel</button>
                                <button (click)="appplyUserChange('active',true)"
                                    *ngIf="!selectedUser.user.active && !showOnlyUser && selectedUser.mode!=2"
                                    class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Activate user account">
                                    <i class="fa fa-check"></i> Activate
                                </button>
                                <button (click)="onUserDelete()"
                                    *ngIf="!selectedUser.user.active && !showOnlyUser && selectedUser.mode!=2"
                                    class="btn btn-user-times btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Delete user account">
                                    <i class="fa fa-check"></i> Delete
                                </button>
                                <button (click)="appplyUserChange('active',false)"
                                    *ngIf="selectedUser.user.active && !showOnlyUser && selectedUser.mode!=2"
                                    class="btn btn-drak btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="Deactivate user account">
                                    <i class="fa fa-ban"></i> Deactivate
                                </button>

                                <label class="text-muted text-success"
                                    *ngIf="selectedUser.message">{{selectedUser.message}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-4 text-center">
                                    <div class="m-t-lg">
                                        <img alt="image" class="rounded-circle"
                                            [src]="selectedUser.user.avtar||'assets/user.svg'"
                                            style="width: 62px;height: 62px;object-fit: cover;">
                                        <a placement="left" *ngIf="selectedUser.mode>0" [ngbPopover]="popContentAvtar"
                                            [popoverTitle]="'User Avtar'" class="btn btn-link btn-xs d-block">Change</a>
                                    </div>
                                    <h3>{{(selectedUser.user.first_name||'-name-') +'
                                        '+(selectedUser.user.last_name||'')
                                        }}
                                    </h3>
                                    <label class="label label-success" *ngIf="selectedUser.user.active">ACTIVE</label>
                                    <label class="label label-warning"
                                        *ngIf="!selectedUser.user.active">INACTIVE</label>

                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group" [ngClass]="fieldMandatError.f_name?'':'has-error'">
                                        <label for="usr" class="user-lable-text">First Name:</label>
                                        <input type="text" [(ngModel)]="selectedUser.user.first_name"
                                            [appInputCheck]="'[a-zA-Z .]'"
                                            [readonly]="selectedUser.mode==0 || showOnlyUser"
                                            [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                            class="form-control-sm">
                                    </div>
                                    <div class="form-group" [ngClass]="fieldMandatError.l_name?'':'has-error'">
                                        <label class="user-lable-text">Last Name:</label>
                                        <input type="text" [readonly]="selectedUser.mode==0 || showOnlyUser"
                                            [appInputCheck]="'[a-zA-Z .]'"
                                            [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                            class="form-control-sm" [(ngModel)]="selectedUser.user.last_name">
                                    </div>
                                    <div class="form-group" *ngIf="!showOnlyUser"
                                        [ngClass]="fieldMandatError.role?'':'has-error'">
                                        <label class="user-lable-text">Role:</label>
                                        <select [disabled]="selectedUser.mode==0"
                                            [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                            class="form-control-sm" [(ngModel)]="selectedUser.user.role">
                                            <option *ngFor="let r of roleList" [value]="r._id">
                                                {{roleKeyMap[r._id].display_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                        <strong>Area</strong>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group"
                                                    [ngClass]="fieldMandatError.username?'':'has-error'">
                                                    <label for="usr" class="user-lable-text">District:</label>
                                                    <input type="text" [value]="getDistrictByRole(selectedUser.user.role)"
                                                        [readonly]="true"
                                                        [ngClass]="'form-control-plaintext'"
                                                        class="form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group"
                                                    [ngClass]="fieldMandatError.password?'':'has-error'">
                                                    <label for="usr" class="user-lable-text">Taluk:</label>
                                                    <input type="text" [value]="getTalukByRole(selectedUser.user.role)"
                                                        [readonly]="true"
                                                        [ngClass]="'form-control-plaintext'"
                                                        class="form-control-sm">
                                                </div>
                                            </div>
                                        </div>

                                    <strong>Credentials</strong>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group"
                                                [ngClass]="fieldMandatError.username?'':'has-error'">
                                                <label for="usr" class="user-lable-text">Username:</label>
                                                <input type="text" [(ngModel)]="selectedUser.user.username"
                                                    [appInputCheck]="'[a-zA-Z]'"
                                                    [readonly]="selectedUser.mode==0 || showOnlyUser"
                                                    [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                                    class="form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group"
                                                [ngClass]="fieldMandatError.password?'':'has-error'">
                                                <label for="usr" class="user-lable-text">Password:</label>
                                                <input type="password" [(ngModel)]="selectedUser.user.password"
                                                    [readonly]="selectedUser.mode==0"
                                                    [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                                    class="form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <strong>Contact Details</strong>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="usr" class="user-lable-text">Mobile:</label>
                                                <input type="tel" [(ngModel)]="selectedUser.user.contact"
                                                    [appInputCheck]="'[0-9]'" [maxLength]="10"
                                                    [readonly]="selectedUser.mode==0"
                                                    [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                                    class="form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="usr" class="user-lable-text">Email:</label>
                                                <input type="email" [(ngModel)]="selectedUser.user.email"
                                                    [appInputCheck]="'[a-zA-Z0-9.-@_]'"
                                                    [readonly]="selectedUser.mode==0"
                                                    [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                                    class="form-control-sm">
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <strong>Notes</strong>
                                    <textarea [readonly]="selectedUser.mode==0"
                                        [ngClass]="selectedUser.mode>0?'form-control':'form-control-plaintext'"
                                        [(ngModel)]="selectedUser.user.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- For mobile -->
<div class="float-button d-block d-sm-none" *ngIf="selectedUser.user">
    <button class="btn shadow-lg btn-circle btn-dark" placement="auto" [ngbPopover]="popContent">
        <i class="fa fa-bars"></i>
    </button>
</div>

<div class="float-button d-block d-sm-none" *ngIf="!selectedUser.user">
    <button (click)="onCreateNewUser()" class="btn shadow-lg btn-circle btn-dark">
        <i class="fa fa-user-plus"></i>
    </button>
</div>
<ng-template #popContent>
    <button (click)="appplyUserChange()" *ngIf="selectedUser.mode==0" class="btn btn-outline-light text-dark d-block"><i
            class="fa fa-pencil"></i> Edit</button>
    <button (click)="appplyUserChange('active',false)" *ngIf="selectedUser.user.active"
        class="btn btn-outline-light text-dark d-block"><i class="fa fa-ban"></i>
        Inactive</button>
    <button (click)="appplyUserChange('active',true)" *ngIf="!selectedUser.user.active"
        class="btn btn-outline-light text-dark d-block"><i class="fa fa-check"></i>
        Active</button>
    <button (click)="onSaveHandler()" *ngIf="selectedUser.mode>0" class="btn btn-outline-light text-dark d-block"><i
            class="fa fa-save"></i>
        Save</button>
    <button (click)="onCancelHandler();selectedUser.user=null" class="btn btn-outline-light text-dark d-block"><i
            class="fa fa-close"></i>
        Cancel</button>
</ng-template>

<ng-template #popContentAvtar>
    <div class="row">
        <div class="col-12 text-center">
            <img alt="image" class="rounded-circle" [src]="selectedUser.user.avtar"
                style="width:150px;height:150px;object-fit: cover;">
        </div>
    </div>
    <div class="row">
        <div class="col-3" (click)="selectedUser.user.avtar=avt" *ngFor="let avt of avtarList">
            <img alt="image" class="rounded-circle" [src]="avt" style="width:40px">
            <div class="ml-2 mr-2 selected_avtart" *ngIf="avt==selectedUser.user.avtar">&nbsp;</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <label class="btn btn-info btn-xs">Select Image
                <input type="file" #fileInput (change)="fileUpload(fileInput.files)" accept="image/*"
                    style="width: 0px;height: 0px;display: none">
            </label>
        </div>
    </div>
</ng-template>