<div class="footer fixed_full">
    <div class="float-left">
        <strong>Powered By</strong> San &copy; 2018
    </div>
    <div class="float-right">
        <a class="nav-link d-inline" (click)="change('en')">English</a> | <a class="nav-link d-inline" (click)="change('ka')">ಕನ್ನಡ</a>
    </div>
</div>