<div class="row border-bottom d-print-none">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary border-0 p-0 text-white" id="top-nav-close" style="background-color: transparent;"
                (click)="toggleNavigation()">
                <!-- <i class="fa fa-2x fa-bars d-block d-sm-none"></i> -->
                <i class="fa fa-2x fa-arrow-left"></i>
            </a>

            <h2 class="d-none d-sm-block" style="margin-left: 20px;font-weight: bold;color: #fff;float: right;margin-top: 10px;">Samadhana</h2>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-language"></i>{{getCurrentLang()}}
                </a>
                <ul class="dropdown-menu dropdown-messages dropdown-menu-right">
                    <li>
                        <div class="text-center link-block">
                            <a class="dropdown-item" (click)="changeLanguage('en')">
                                <strong>English</strong>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="text-center link-block">
                            <a class="dropdown-item" (click)="changeLanguage('ka')">
                                <strong>ಕನ್ನಡ</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i>{{"nav.LOGOUT" |translate}}
                </a>
            </li>
        </ul>

    </nav>
</div>