@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

// @import 'src/assets/styles/styles.scss';

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-type-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-small;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media(max-width:768px) {
    body.fixed-nav.fixed-nav-basic .navbar-fixed-top {
        left: 0px;
    }
}
@media (min-width: 769px){
   body{
       overflow: hidden;
   }
}


a:not([href]):not([tabindex]){
    color: #a7b1c2
}

.pointer{
    cursor: pointer
}

.float-button{
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1000;
}

.feed-element .well{
    font-size:13px;
    line-height: 1.2rem;
}

a:not([href]):not([tabindex]) {
    color: #0058b7;
}

.switch {
    font-size: 1rem;
    position: relative;
  }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
  }
  .switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
  }
  .switch input + label::before,
  .switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
  }
  .switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
  }
  .switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
  }
  .switch input:checked + label::before {
    background-color: #08d;
  }
  .switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
  }
  .switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
  }
  .switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
  }
  .switch input:disabled + label::before {
    background-color: #e9ecef;
  }



  .switch.switch-sm {
    font-size: 0.875rem;
  }
  .switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
  }
  .switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
  }
  .switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
  }
  .switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
  }



  .switch.switch-xs {
    font-size: 0.875rem;
  }
  .switch.switch-xs input + label {
    min-width: calc(calc(1.5rem * .8) * 2);
    height: calc(1.5rem * .8);
    line-height: calc(1.5rem * .8);
    text-indent: calc(calc(calc(1.5rem * .8) * 2) + .5rem);
  }
  .switch.switch-xs input + label::before {
    width: calc(calc(1.5rem * .8) * 2);
    border: 1px solid #4588dd;
  }
  .switch.switch-xs input + label::after {
    width: calc(calc(1.5rem * .8) - calc(2px * 2));
    height: calc(calc(1.5rem * .8) - calc(2px * 2));
    border: 1px solid #4588dd;
  }
  .switch.switch-xs input:checked + label::after {
    margin-left: calc(1.5rem * .8);
    
  }



  .switch.switch-lg {
    font-size: 1.25rem;
  }
  .switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
  }
  .switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
  }
  .switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
  }
  .switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
  }
  .switch + .switch {
    margin-left: 1rem;
  }

  .popover{
      max-width: 500px !important;
  }

  .list-group-item {
    padding: 4px 10px;
}

.modal-header,.modal-footer{
  padding: 0.5rem !important;
}

.modal-body {
  padding: 15px 10px 15px 15px !important;
}

.dropdown-item{
  width: 100%;
}

@media print{
  .nav-item,.nav-tabs{
    display:none !important;
  }
  
  table{
    width:80em !important;
  }

  #page-wrapper{
    margin: 0px !important;
  }


  .card{
    border: 0px  !important;
    padding: 0px  !important;
  }

  .col-print-1 {width:8%;  float:left;}
  .col-print-2 {width:16%; float:left;}
  .col-print-3 {width:25%; float:left;}
  .col-print-4 {width:33%; float:left;}
  .col-print-5 {width:42%; float:left;}
  .col-print-6 {width:50%; float:left;}
  .col-print-7 {width:58%; float:left;}
  .col-print-8 {width:66%; float:left;}
  .col-print-9 {width:75%; float:left;}
  .col-print-10{width:83% !important; float:left;}
  .col-print-11{width:92%; float:left;}
  .col-print-12{width:100% !important; float:left;}

  .col-sm-8{
    flex: 0 0 100%  !important;;
    max-width: 100%  !important;;
  }
  .jumbotron{padding: 0px  !important;}
}

.ql-editor{
  height: 250px !important;
}