<ng-container *ngIf="mode=='EDIT'">
  <textarea ngxTrumbowygEditor name="editorDirective" [(ngModel)]="content[name]"></textarea>
</ng-container>

<ng-container *ngIf="mode=='DISPLAY'">
  <div class="well" [innerHTML]="content[name]"></div>
</ng-container>