<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">

        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-cog"></i> Settings</span>
            </ng-template>
            <ng-template ngbPanelContent *ngIf="emailConfig">
              <div class="row">
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>Host Name:</label>
                    <div class="input-group-sm">
                      <input class="form-control" [(ngModel)]="emailConfig.value.host" type="text" placeholder="e.g smtp.ethereal.email"
                        [appInputCheck]="'[a-zA-Z -.]'">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>Port:</label>
                    <div class="input-group-sm">
                      <input class="form-control" type="text" [(ngModel)]="emailConfig.value.port" placeholder="e.g 587"
                        [appInputCheck]="'[0-9]'">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>User Name:</label>
                    <div class="input-group-sm">
                      <input class="form-control" [(ngModel)]="emailConfig.value.username" type="text">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>Password:</label>
                    <div class="input-group-sm">
                      <input class="form-control" [(ngModel)]="emailConfig.value.password" autocomplete="off" type="text">
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label>Service:</label>
                    <div class="input-group-sm">
                      <input class="form-control" [(ngModel)]="emailConfig.value.service" type="text" placeholder="e.g gmail">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group form-group-sm">
                    <label style="height: 20px;width: 20px;display: block;">&nbsp; </label>
                    <span class="switch switch-xs">
                      <input type="checkbox" [(ngModel)]="emailConfig.value.secure" class="switch" id="switch-id-1">
                      <label for="switch-id-1">Secure</label>
                    </span>

                  </div>
                </div>
              </div>

              <button class="btn btn-info btn-sm float-right" (click)="onSaveEmailConfig()">Save</button>
              <div class="clearfix"></div>

            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-table"></i> Transactions</span>
            </ng-template>
            <ng-template ngbPanelContent *ngIf="emailTransactions">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>To</th>
                    <th>Ticket</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of emailTransactions">
                    <td>{{item._id|limitTo:10}}</td>
                    <td>{{item.to}}</td>
                    <td><a [routerLink]="['/app/tickets/details/'+item.ticket]">{{item.ticket|limitTo:10}}</a></td>
                    <td>{{item.status}}</td>
                    <td>{{item.date|date}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>


      </div>
      <div class="col-6" *ngIf="activeTemplate">
        <h3>Email Templates
          <small>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>{{activeTemplate.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="onChangeActiveTemplate(item)" *ngFor="let item of emailTemplates.value" class="dropdown-item">{{item.name}}</button>
              </div>
            </div>

            <button class="btn btn-xs btn-info ml-2" (click)="onTemplateSave()">Save</button>
          </small>
        </h3>
        <div class="row">
          <div class="col-12">
            <div class="form-group form-group-sm">
              <label>Subject:</label>
              <div class="input-group-sm">
                <input class="form-control" [(ngModel)]="activeTemplate.subject" type="text">
              </div>
            </div>
          </div>
        </div>
        <label>Content:</label>
        <app-richeditor [content]="activeTemplate" [name]="'content'" [mode]="'EDIT'"></app-richeditor>
      </div>
    </div>
  </div>
</div>